@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
padding: 1rem;
font-family: 'Courier New', Courier, monospace;

}

h1 {
    font-size: 1.5tem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card {
    background-color: gainsboro;
    padding: 1rem;
    border-radius:5px;
}

.card-body {
    display: flex;
    flex-direction: coumn;
    margin-bottom: 2rem;
    gap: 1rem;
}
.card-body label {
    font-weight: 500;
}
.card-body input {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: 1px solid grey;
    width: 5rem;
}
.card-footer {
    display: flex;
    flex-direction: row-reverse;
    border-radius : 5px;
}

.card-footer button {
   
    display: flex;
    justify-content: space-evenly;
  align-items: center;
  height: 5vh; 
    background-color: brown;
    color: white;
    border: unset; 
    border-radius: 5px;
    padding: 1rem 2rem;
    gap: 5rem;
   
}

#response {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
#response .list-group-item {
    display: flex;
    justify-content: center;
    width: 1rem;
    padding: 1rm;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    background-color: gainsboro;

}